body{
    text-align: center;
    background-color: skyblue
  }
  
  h1{
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  
  #score{
    font-size: 20px;
  }
  
  #status{
    font-size: 20px;
  }
  
  #board {
    margin-left: auto;
    margin-right: auto;
  }
  
  #board tr td{
    color: black;
    border:1px solid brown;
    background: sandybrown;
    width: 18px;
    height: 18px;
    text-align: center;
  }
  
  #board tr td.clicked {
      background-color: brown;
      pointer-events: none;
  }
  
  #board tr td.mine {
      background-color: red;
      background-image:url("./assets/mine.png");
      background-size: contain;

  }
  
  #board tr td.marked {
      background-color: green;
      background-image:url("assets\flag.png");
      background-size: contain;
  }
  
  button{
    text-align: center;
    margin-top: 10px;
    background-color: sandybrown;
    border: 2px solid brown;
  }
  
  @media only screen and (min-width: 768px) {
  
    h1{
      font-size: 56px;
    }
  
    #score{
      font-size: 36px;
    }
  
    #status{
      font-size: 36px;
    }
  
    #board tr td{
      width: 36px;
      height: 36px;
      font-size: 27px; 
    }
  
    button{
      font-size: 18px;
    }
    
  }
  
  @media only screen and (min-width: 1024px) {
  
    h1{
      font-size: 64px;
    }
  
    #score{
      font-size: 48px;
    }
  
    #status{
      font-size: 48px;
    }
  
    #board tr td{
      width: 48px;
      height: 48px;
      font-size: 36px; 
    }
  
    button{
      font-size: 24px;
    }
    
  }
